/*
    SASS/SCSS - https://blog.skillfactory.ru/glossary/sass/
    Основы Sass - https://sass-scss.ru/guide/
       Документация - https://sass-scss.ru/documentation/
    Sass - https://ru.wikipedia.org/wiki/Sass

    just-the-docs/_sass/support/_variables.scss - https://github.com/just-the-docs/just-the-docs/blob/main/_sass/support/_variables.scss

*/

$orange-gk: #ff8700 !default; // Как на Gorgeous-Karnaugh.com
$orange-lt: $orange-gk !default;
$orange-dk: #fd7d13 !default; // Чуть темнее, получше для текста
$orange-brown: #e87810 !default; // ещё оранжевый, но темнее и в сторону коричневого

$text-grey: #575757 !default; // or 4F4F4F
$hdr-grey-dk: #2f2f2f !default; // or 3F3F3F
$hdr-orange-dk: $orange-dk !default; // or $orange-brown

// $red-000: #f77e7e !default;  // розовый
// $red-100: #f96e65 !default;  // поярче розовый
// $red-200: #e94c4c !default;  // розово красный
// $red-300: #dd2e2e !default;  // красный, но не ярко алый красный как чисто red

// Такое ощущение, что оно не понимает переменных с цветами, которые я тут задаю

$color-scheme: mdr !default;
$body-background-color: $white !default; // работает - фон правой части - с текстом документа
$body-heading-color: $hdr-orange-dk !default; // Таки это заголовки - видимо, недоперегружал раньше, Ctrl+F5 надо жмакать побольше. Кроме заголовков докмента это и заголовок в левой части сверху
$body-text-color: $red-300; // $grey-dk-100 !default; // Это таки цвет текста
$link-color: #ff8700 !default; // org - $purple-000. $orange-lt: #ff8700
$nav-child-link-color: $grey-dk-100 !default;
$sidebar-color: $grey-lt-000 !default;
$base-button-color: #f7f7f7 !default;
$btn-primary-color: $purple-100 !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$table-background-color: $white !default;
$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;

@import "./vendor/OneLightJekyll/syntax";
